.nav-bar {
  padding: 15px;
}
.main-title-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 15px;
}
.main-title-container img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.main-title-container h1 {
  margin-top: 3px;
}
.main-input-container {
  width: 350px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #5f6368;
  background: #525355;
  margin: 0 auto;
  margin-top: 1px;
  box-shadow: 1px 0px 23px 8px rgba(0,0,0,0.36);
  -webkit-box-shadow: 1px 0px 23px 8px rgba(0,0,0,0.36);
  -moz-box-shadow: 1px 0px 23px 8px rgba(0,0,0,0.36);
}
.main-input-container input {
  width: 300px;
  height: 35px;
  text-align: center;
  color: #e1e2d7;
  font-size: 15px;
  font-family: 'Montserrat';
  border: none;
  outline: none;
  background: transparent;
}
.main-input-container:hover {
  box-shadow: 0 1px 6px 0 #fff;
  border-color: #dfe1e500;
}
.search-icon {
  background-image: url('https://img.icons8.com/android/24/000000/search.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 18px;
  height: 18px;
}
.ToDoSearch::placeholder {
  font-family: 'Montserrat';
}

@media (max-width: 660px) {
  .nav-bar {
    display: block;
  }
  .main-input-container {
    width: 75%;
    margin-top: 15px;
  }
  .main-input-container input {
    width: 85%;
  }
}